<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catalina.josue.avemaria" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InstruccionesActivity" android:label="Instrucciones">

        </activity>
        <activity android:name=".MisteriosActivity" android:label="Misterios">

        </activity>
        <activity android:name=".OracionesActivity" android:label="Oraciones">

        </activity>
    </application>

</manifest>
